PORT=8000
MONGOOSE_URI=mongodb+srv://satyamkr007:satyam@cluster0.3wdwys2.mongodb.net
CORS_ORIGIN=*
# agar kabhi development mein CORS_ORIGIN ko change karna pade toh yahan karna and uske baad npm run dev karna
# aur agar production ke time pe url dalna pade toh yahan dalna 


ACCESS_TOKEN_SECRET=chai aur backend

ACCESS_TOKEN_EXPIRY=1day
REFRESH_TOKEN_SECRET=chai with satyam
REFRESH_TOKEN_EXPIRY=7days